<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2016 Amasty (https://www.amasty.com)
 * @package Amasty_Finder
 */
-->
<!--
/**
* Copyright © 2015 Amasty. All rights reserved.
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <amfinder>
            <general>
                <category_search>0</category_search>
                <partial_search>0</partial_search>
                <universal>1</universal>
                <seo_urls>1</seo_urls>
                <auto_submit>0</auto_submit>
                <separator>-</separator>
                <suffix></suffix>
                <reset_home>0</reset_home>
                <clear_other_conditions>0</clear_other_conditions>
            </general>
            <import>
                <archive_lifetime>30</archive_lifetime>
                <max_rows_per_import>1000</max_rows_per_import>
            </import>
        </amfinder>
    </default>
</config>
